<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Obliczanie średniej i odchylenia standardowego</title>
</head>
<body>
<h3>Średnia i odchylenie standardowe</h3>
<form action="">
    Kod waluty
    <select name="code">
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="CHF">CHF</option>
        <option value="GBP">GBP</option>
    </select><br>
    Data początkowa
    <input type="date" name="startDate"><br>
    Data końcowa
    <input type="date" name="endDate"><br>
    <input type="submit">
</form>
</body>
</html>