<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Obliczanie średniej i odchylenia standardowego</title>
</head>
<body>
<h3>Średnia i odchylenie standardowe</h3>
<form autocomplete="off" action="#" th:action="@{/currency/form}" th:object="${dataForm}" method="post" role="form">

    Kod waluty
    <select th:field="*{code}" name="code">
        <option th:text="'EUR'" th:value="EUR">EUR</option>
        <option th:text="'USD'" th:value="USD">USD</option>
        <option th:text="'CHF'" th:value="CHF">CHF</option>
        <option th:text="'GBP'" th:value="GBP">GBP</option>
    </select><br>

    Data początkowa
    <input type="date" th:field="*{startDate}" name="startDate"><br>
    Data końcowa
    <input type="date" th:field="*{endDate}" name="endDate"><br>
    <input type="submit">
</form>

<h3 th:if="${averageBid}">Średnia cena skupu wynosiła: <span th:if="${averageBid}" class="text-success" th:utext="${averageBid}"></span></h3>
<h3 th:if="${standardDeviation}">Odchylenie standardowe sprzedaży wynosiło: <span th:if="${standardDeviation}" class="text-success" th:utext="${standardDeviation}"></span></h3>
<h2 th:if="${fail}" th:text="${fail}"><span th:if="${fail}" class="text-success" th:utext="${fail}"></span></h2>
<table th:if="${currencyList}" border="1">
    <tr bgcolor="#87cefa"><td>Data</td><td>Cena skupu</td><td>Cena sprzedaży</td></tr>
    <tr th:each="currency : ${currencyList}" width="300 px"><td th:text="${currency.getDate()}" width="100 px">Data</td><td th:text="${currency.getBid()}" width="100 px">Cena skupu</td><td th:text="${currency.getAsk()}" width="100 px">Cena sprzedaży</td></tr>
</table>
</body>
</html>